bleach==2.1.1
cycler==0.10.0
decorator==4.1.2
html5lib==1.0b10
ipython-genutils==0.2.0
jupyter-client==5.1.0
jupyter-core==4.4.0
matplotlib==2.1.0
mistune==0.8.1
numpy==1.13.3
pandas==0.21.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyzmq==16.0.3
scipy==1.0.0
seaborn==0.8.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
webencodings==0.5.1
